###################################################################
# Junk, development and other hidden files
###################################################################
*.7z
*.bz2
*.cab
*.com
*.class
*.dmg
*.dll
*.exe
*.gz
*.iso
*.jar
*.lnk
*.log
*.map
*.msi
*.msm
*.msp
*.o
*.rar
*.stTheme.cache
*.sql
*.sqlite
*.so
*.sublime-workspace
*.tar
*.tgz
*.tmlanguage.cache
*.tmPreferences.cache
*.zip
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.codekit-cache
.DS_Store
.DS_Store?
.fseventsd
.htpasswd
.LSOverride
.sass-cache
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
$RECYCLE.BIN/
ehthumbs.db
Desktop.ini
Network Trash Folder
sitemap.xml
sitemap.xml.gz
sftp-config.json
Temporary Items
Thumbs.db
config.codekit3

###################################################################
# Composer
###################################################################
vendors/composer/
!assets/js/vendor/
wpcs/
composer.lock

###################################################################
# Bower
###################################################################
bower_components/*

###################################################################
# WordPress Files or folders that we typically don't need tracked
###################################################################
wp-config.php
wp-config*
public_html/.htaccess
/public_html/wp-content/advanced-cache.php
/public_html/wp-content/backup-db/*
/public_html/wp-content/backups/*
/public_html/wp-content/blogs.dir/*
/public_html/wp-content/cache/*
/public_html/wp-content/json/*
/public_html/wp-content/upgrade/*
/public_html/wp-content/uploads/*
!/public_html/wp-content/uploads/.htaccess
/public_html/wp-content/plugins/hello.php
/public_html/wp-content/wp-cache-config.php
/public_html/license.txt
/public_html/readme.html


*.log
/public_html/wp-config.php
/public_html/wp-content/advanced-cache.php
/public_html/wp-content/backup-db/
/public_html/wp-content/backups/
/public_html/wp-content/blogs.dir/
/public_html/wp-content/cache/
/public_html/wp-content/upgrade/
/public_html/wp-content/uploads/
/public_html/wp-content/wp-cache-config.php
/public_html/wp-content/plugins/hello.php
/public_html/wp-content/updraft/*.zip
/public_html/wp-content/updraft/*.gz


/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

node_modules/
