$black: #000;
$dark: #122625;
$green: #26383d;
$gold: #c9a878;
$grey: #889593;
$white: #fff;
$blue: #87908e;
$red: #b20022;

$harry-blue: #003e7e;
$harry-lblue: #2b72bc;
$harry-dblue: #001c3a;
$harry-grey: #272727;
$harry-mgrey: #4d4d4d;
$harry-lgrey: #a9a9a9;
$harry-black: #1a1a1a;
$harry-rlgrey: #f9f9f9;
$harry-crumbs: #00a3f7;

$invicta-body: #f5f9fd;
$invicta-dblue: #222222;
$invicta-lblue: #418fde;
$invicta-primary: #7e8186;
$invicta-lbhover: darken($invicta-lblue, 20);
$invicta-green: #87de41;
$invicta-icon: #e9f2fb;
$invicta-lgrey: #ededed;
$invicta-meta: #a1a3a7;

$service-dblue: #031637;
$service-blue: #1e345c;
$service-white: #f4f7f8;
$service-lblue: #009cdc;
$service-yellow: #fdb949;
$service-purple: #45469d;
$service-orange: #f26a55;
$service-grey: #e2e9ed;

$avpwa-purple: #771844;
$avpwa-dpurple: #640e37;
