.flexi-media-content {
	padding-top: 60px;
	padding-bottom: 60px;
	clear: both;
	&.lightbbg {
		background: $invicta-body;
	}
	&.medbbg {
		background: $invicta-lblue;
		color: #fff !important;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #fff !important;
		}
	}
	&.darkbbg {
		background: $invicta-dblue;
		color: #fff !important;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #fff !important;
		}
	}
	&.whitebg {
		background: #fff;
	}
	.flex-mc-image {
		flex: 0 0 100%;
		display: block;
		width: 100%;
		max-width: 670px;
		margin: 0 auto;
		text-align: center;
		@include for-tablets-up {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 1 50%;
			margin: 0;
		}
		// min-height: 500px;
	}
	.flex-mc-content {
		flex: 0 0 100%;
		font-size: 0.941em;
		line-height: 1.6;
		width: 100%;
		max-width: 670px;
		margin: 0 auto;
		@include for-tablets-up {
			padding: 60px;
			flex: 0 1 50%;
		}
	}
}
.flexi-media-content.unstyled-right {
	border-top: none;
	.flex-mc-image {
		order: 1;
		display: block;
		background: transparent;
		@include for-tablets-up {
			order: 2;
		}
	}
	.flex-mc-content {
		order: 2;
		@include for-tablets {
			padding: 0 60px 0 0;
		}
		@include for-tablets-up {
			order: 1;
		}
		@include for-desktop-up {
			padding: 0 100px 0 0;
		}
	}
}
.flexi-media-content.unstyled-left {
	border-top: none;
	.flex-mc-image {
		display: block;
		background: transparent;
	}
	.flex-mc-content {
		@include for-tablets {
			padding: 0 0 0 60px;
		}
		@include for-desktop-up {
			padding: 0 100px 0 100px;
		}
	}
}
.flexi-media-content {
	.flex-mc-content {
		font-size: 0.882em;
		line-height: 1.8;
		h3 {
			font-size: 2.118em;
			font-weight: 400;
			color: $invicta-dblue;
		}
		h4 {
			font-size: 1.133em;
			font-weight: 500;
			color: $invicta-dblue;
		}
		ul {
			list-style-type: none;
			margin: 0;
			li {
				padding-left: 30px;
				position: relative;
				color: $invicta-dblue;
				&:before {
					font-family: "dashicons";
					font-size: 2em;
					line-height: 1;
					content: "\f147";
					color: $invicta-green;
					left: -5px;
					padding-right: 10px;
					position: absolute;
				}
			}
		}
	}
	.flexit {
		display: flex;
		flex-wrap: wrap;
		@include for-tablets-up {
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
		}
	}
}
