.flexi-callout {
	padding: 100px 0;
	.call-out-wrapper {
		@include for-tablets-up {
			padding: 0 100px;
		}
	}
	.cta-intro {
		color: $invicta-dblue;
		font-weight: 500;
		padding-bottom: 20px;
	}
	.cta-copy {
		font-size: 2.118em;
		color: $invicta-dblue;
		padding-bottom: 40px;
	}
}
