.projects-wrapper {
	background: transparent url('../images/projects-background.jpg') no-repeat
		center center;
	background-size: cover;
	text-align: center;
	h3 {
		display: inline-block;
		padding: 15px 30px;
		background: $harry-black;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.529em;
		margin-top: -30px;
		margin-bottom: 0;
		position: relative;
		z-index: 6;
	}
	.projects-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-top: -38px;
		.project-item {
			flex: 1 0 31%;
			// margin: 10px 10px;
			min-height: 200px;
			position: relative;
			background-position: center center;
			background-size: cover;
			cursor: pointer;
			.project-title {
				display: inline-block;
				min-width: 180px;
				text-align: center;
				padding: 10px 20px;
				color: #fff;
				font-family: $font-headings;
				font-size: 18px;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				z-index: 4;
				text-transform: uppercase;
				opacity: 0;
				transition: 0.3s all ease-in-out;
			}
			.project-mask {
				display: block;
				background: rgba(0, 0, 0, 0.4);
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 3;
				transition: 0.3s opacity ease-in-out;
				opacity: 0;
			}
			&:hover .project-mask {
				opacity: 1;
			}
			&:hover .project-title {
				opacity: 1;
				bottom: 10px;
			}
		}
	}
}
