.sidebar {
	.widget-title {
		font-size: 17px;
		color: $invicta-dblue;
		font-weight: 500;
		margin-bottom: 22px;
	}
	.widget_categories {
		li a {
			font-size: 15px;
			font-weight: 300;
			display: block;
		}
	}
}
